.position-relative .form-control.form-control-lg ~ .form-control-position {
    top: 20px;
}

/* прячим иконку просмотра флоагов */
.dropdown-toggle-no-arrow::after,
.dropdown-no-arrow::after{
   display: none;
}

/* логотип */
.header-navbar .navbar-header .navbar-brand .brand-text {
    display: inline;
    padding-left: 0;
    font-weight: 500;
    letter-spacing: 1px;
}

@media (max-width: 768px){
    .header-navbar .navbar-header .navbar-brand {
        top: -7px;
    }
}

/*Кнопки управления*/
.btn-small {
    padding: 5px 8px;
}

.base-configuration td, th {
    vertical-align: middle;
    color: black;
}

.pay-info{
    max-width: 680px;
    margin: auto;
    padding: 0;
}

.pay-text{
    max-width: 95%;
    margin: auto;
    font-size: 18px;
}

.no-promotion{
    display: none;
}

.pay-info {
    max-width: 460px;
    width: 100%;
}

.statistic-green td, th{
    color: black;
}

.statistic-green,
.statistic-green td:nth-child(2),
.statistic-green td:nth-child(3)
{
    color: #41a200;
}

.statistic-red td, th{
    color: black;
}

.statistic-red,
.statistic-red td:nth-child(2),
.statistic-red td:nth-child(3){
    color: #e53b00;
}

.statistic-red-follow td, th,
.statistic-green-follow td, th{
    color: black;
}

.statistic-green-follow,
.statistic-green-follow td:nth-child(3),
.statistic-red-follow a
{
    color: #41a200;
}

.statistic-red-follow,
.statistic-red-follow td:nth-child(3),
.statistic-red-follow a
{
    color: #e53b00;
}

.base-configuration tr{
    word-wrap:break-word;
}

.bg-bots{
    background-color: #FFA87D !important;
}

.card-pay-block .mobile{
    display: none;
}


.client-table-statistic  .mobile{
    display: none;
}

.color-green{
    color: #41a200;
}

.color-red{
    color: #e53b00;
}

td.color-green{
    color: #41a200;
}

td.color-red{
    color: #e53b00;
}

@media(max-width: 960px){

    .client-table-statistic  .mobile{
        display: block;
    }

    .client-table-statistic  .pc{
        display: none;
    }

    .trend-client{
        display: none;
    }
}

@media(max-width: 680px){

    .pay-text{
        max-width:100%;
    }
    .card-body {
        padding: 0.5rem;
    }
}

@media(max-width: 480px){

    .card-pay-block input {
        font-size: 16px;
    }

    #pay-copy{
        padding: 0.15rem 0.65rem;
    }

    .card-pay-block .mobile{
        display: block;
        font-size: 24px;
    }

    .card-pay-block .pc{
        display: none;
    }
}

.help-images{
    display: block;
    width: 100%;
    height: 400px;
    padding: 20px;
    text-align: center;
}

.help-images img{
    object-fit: cover;
    width: auto;
    height: 100%;
    margin: auto;
}

